---
page_title: "Provider: DNS"
description: |-
  The DNS provider supports DNS updates (RFC 2136). Additionally, the provider can be configured with secret key based transaction authentication (RFC 2845) or can use GSS-TSIG (RFC 3645).
---

# DNS Provider

The DNS provider supports resources that perform DNS updates ([RFC 2136](https://datatracker.ietf.org/doc/html/rfc2136)) and data sources for reading DNS information. The provider can be configured with secret key based transaction authentication ([RFC 2845](https://datatracker.ietf.org/doc/html/rfc2845)) or GSS-TSIG ([RFC 3645](https://datatracker.ietf.org/doc/html/rfc3645)).

Use the navigation to the left to read about the available resources and data sources.

## Example Usage

Using secret key based transaction authentication (RFC 2845):

{{ tffile "examples/provider/provider_secret_key.tf" }}

Using GSS-TSIG (RFC 3645):

{{ tffile "examples/provider/provider_gss_tsig.tf" }}

{{ .SchemaMarkdown | trimspace }}
