---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/data_source_ptr_record_set.tf" }}

{{ .SchemaMarkdown | trimspace }}

 __NOTE__: Only the first result is taken from the query.